In [39]:
#TASK 1, Question = 2


""" Write a program which will find all such numbers which are divisible by 7 but are
not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should 
be printed in a comma-separated sequence on a single line."""

for i in range(2000,3201):
    if i%7 == 0:
        if i%5!=0:
            print(i,',',end=" ")
        else:
            i = i+1
        
    else:
        i=i+1

2002 , 2009 , 2016 , 2023 , 2037 , 2044 , 2051 , 2058 , 2072 , 2079 , 2086 , 2093 , 2107 , 2114 , 2121 , 2128 , 2142 , 2149 , 2156 , 2163 , 2177 , 2184 , 2191 , 2198 , 2212 , 2219 , 2226 , 2233 , 2247 , 2254 , 2261 , 2268 , 2282 , 2289 , 2296 , 2303 , 2317 , 2324 , 2331 , 2338 , 2352 , 2359 , 2366 , 2373 , 2387 , 2394 , 2401 , 2408 , 2422 , 2429 , 2436 , 2443 , 2457 , 2464 , 2471 , 2478 , 2492 , 2499 , 2506 , 2513 , 2527 , 2534 , 2541 , 2548 , 2562 , 2569 , 2576 , 2583 , 2597 , 2604 , 2611 , 2618 , 2632 , 2639 , 2646 , 2653 , 2667 , 2674 , 2681 , 2688 , 2702 , 2709 , 2716 , 2723 , 2737 , 2744 , 2751 , 2758 , 2772 , 2779 , 2786 , 2793 , 2807 , 2814 , 2821 , 2828 , 2842 , 2849 , 2856 , 2863 , 2877 , 2884 , 2891 , 2898 , 2912 , 2919 , 2926 , 2933 , 2947 , 2954 , 2961 , 2968 , 2982 , 2989 , 2996 , 3003 , 3017 , 3024 , 3031 , 3038 , 3052 , 3059 , 3066 , 3073 , 3087 , 3094 , 3101 , 3108 , 3122 , 3129 , 3136 , 3143 , 3157 , 3164 , 3171 , 3178 , 3192 , 3199 ,

In [40]:
#TASK 1, Question = 3

"""Write a Python program to accept the user's first and last name and then getting 
them printed in the the reverse order with a space between first name and last name."""


first = str(input('first name : '))
last = str(input('last name : '))



f_length = len(first)
l_length = len(last)

print(first[f_length::-1],last[l_length::-1])

first name : gacish
last name : yasdsa
hsicag asdsay

In [41]:
#TASK 1, Question = 4

""" Python code for volume of sphere"""

import math

diameter = 12

volume = 4/3 *math.pi*(diameter/2)**3

print(volume)

904.7786842338603

In [42]:
#TASK 2, Question = 1


"""Write a program which accepts a sequence of comma-separated numbers from console and
    generate a list"""
    
data = input('input some comma-seperated numbers\n')
m = []
m.append(data)

print(m)

input some comma-seperated numbers
213123,12,14,31434,321
['213123,12,14,31434,321']

In [43]:
# TASK 2 , Question = 2

"""Create the given pattern"""

n = '*'
p = 7
for i in range(p):
    if i < 6:
        print(n*i)
    elif i == 6:
        for i in range(1,6):
            x = 5 - i
            print(n*x)
            
            
print('completed')

*
**
***
****
*****
****
***
**
*

completed

In [26]:
# TASK 2 Question 3

"""Python code to reverse a word after accepting the input from the user"""

sample = input()

word = len(sample)

print(sample[ ::-1])

AcadGild
dliGdacA

In [38]:
#TASK 2 Question 4

"""Write a Python Program to print the given string in the format specified in the sample output.
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens"""


print('WE, THE PEOPLE OF INDIA,\n','    having solemnly resolved to constitute India into a SOVEREIGN,!\n','        SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC\n','         and to secure to all its citizens')

WE, THE PEOPLE OF INDIA,
     having solemnly resolved to constitute India into a SOVEREIGN,!
         SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
          and to secure to all its citizens