## Dictionaries
- Unordered collections of elements
- these have key and value pair
- key can be any immutable data type, (int, float, strings, tuples)
- values can be anything
- these are represented inside the curly barces

In [1]:
a = {1: 'one', 2: 'two','three':3}

In [3]:
type(a)

dict

In [26]:
a.values()

dict_values

In [6]:
a[1] = "ones"

In [7]:
a

{1: 'ones', 2: 'two', 'three': 3}

In [9]:
a['d']= 'four'

In [10]:
a

{1: 'ones', 2: 'two', 'three': 3, 'd': 'four'}

In [11]:
a.items()

dict_items([(1, 'ones'), (2, 'two'), ('three', 3), ('d', 'four')])

In [12]:
b = [['a','apple'],['b','ball']]

In [16]:
c = dict(b) # Convert list to DIctionary

In [17]:
c

{'a': 'apple', 'b': 'ball'}

In [22]:
3 in a

False

In [25]:
3 in a.values()

True

In [30]:
a.get(1)

'ones'

In [31]:
a[1]

'ones'

In [32]:
a[3]

KeyError: 3

In [34]:
a.get(3,'No key Found')

'No key Found'

In [35]:
for i in a:
    print(i,a[i])

1 ones
2 two
three 3
d four

In [38]:
for i,j in a.items():
    print(i,j)

1 ones
2 two
three 3
d four

In [39]:
del a[1]

In [40]:
a

{2: 'two', 'three': 3, 'd': 'four'}

In [41]:
len(a)

3

In [42]:
count_alpha = 'occourance'

In [44]:
l = {}
for i in count_alpha:
    if i not in l:
        l[i]= 1
        
    else:
        l[i]= l[i] + 1
print(l)

{'o': 2, 'c': 3, 'u': 1, 'r': 1, 'a': 1, 'n': 1, 'e': 1}

In [53]:
# get method
d1 = {}
for word in count_alpha:
    d1[word] = d1.get(word,0) + 1
    
print(d1)

{'o': 2, 'c': 3, 'u': 1, 'r': 1, 'a': 1, 'n': 1, 'e': 1}

 ##  SETS
 - represtend within the curly braces
 - no duplicate values
 - collections of elements
 - unordered

In [55]:
b = {4,9,8}

In [59]:
a = {1,2,3,4,5}

In [60]:
a.union(b)

{1, 2, 3, 4, 5, 8, 9}

In [61]:
a.intersection(b)

{4}

In [62]:
a.difference(b)

{1, 2, 3, 5}

## Lists Comprehension

In [65]:
squared = []
for num in range(1,10):
    squared.append(num**2)
    
squared

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
[<operation> <for loop> <condition>]

In [66]:
squared1 = [num **2 for num in range(10)]

In [67]:
even = [num+10 for num in range(1,101) if num%2 == 0]

In [68]:
print(even)

[12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110]

In [71]:
string_list = ["list","comprehsion","can","be","confusion"]

In [78]:
# Print the last letter of each string
last1 = []
for i in string_list:
    last1.append(i[-1])
last1

['t', 'n', 'n', 'e', 'n']

In [79]:
[i[-1] for i in string_list]

['t', 'n', 'n', 'e', 'n']

In [80]:
[word[-1] for word in string_list if word[0] == 'c']

['n', 'n', 'n']

In [81]:
# Apply if and else condition in one line

x = 5

variable_type = 'low' if x<10 else 'High'

In [82]:
variable_type

'low'

In [85]:
x = 11
label = "even" if x%2 == 0 else 'Odd'
label

'Odd'

In [87]:
word = "racecar"

Is_pal = "yes" if word[::-1]==word[::] else "No"

Is_pal

'yes'

In [88]:
[x * 2 if x % 2 == 0 else x*3 for x in range(10) if x >2 and x < 8]

[9, 8, 15, 12, 21]

In [89]:
[x * 2 if x % 2 == 0 else x*3 for x in range(10)]

[0, 3, 4, 9, 8, 15, 12, 21, 16, 27]

In [93]:
s = "My name is Gavish Gothria and I need TO CHeck IF it IS a VOwels"

In [99]:

l = [ i if i in "aeiou" for i in s if i.lower()==i]

SyntaxError: invalid syntax (<ipython-input-99-c5e1f7e7d4ba>, line 1)

In [100]:
s = "FOrd MustanG LooKS great in REd."
l = []
for i in s:
    if i.lower() == i:
        if i in "aeiou":
            l.append(i)
            
print(l)

['u', 'a', 'o', 'o', 'e', 'a', 'i']

In [101]:
can you help me regarding a question of list comprehension?

Object `comprehension` not found.

In [ ]:
can we convert this in list comprehension code.