In [1]:
# :Lambda
def square(num):
    return num *num

square(9)


square2 = lambda num: num*num

square2(9)

81

In [2]:
add = lambda a,b : a+b

add(3,10)

print(square.__name__)
print(square2.__name__)

square
<lambda>

In [3]:
#Maps
nums = [2,4,6,8,10]

doubles = list(map(lambda x: x*2 , nums))

In [4]:
people= ["Darcy",'Christina','Dana',"Annabel"]

peeps = map(lambda name:name.upper(),people)

list(peeps)

['DARCY', 'CHRISTINA', 'DANA', 'ANNABEL']

In [5]:
names = [
    {'first':'Russty','last':'Steele'},
    {'first':'Colt','last':'Steele'},
    {'first':'Blue','last':'Steele'}
]

first_names=list(map(lambda x: x['first'],names))
first_names

['Russty', 'Colt', 'Blue']

In [6]:




def decrement_list(a):
    return list(map(lambda n:n-1,a))

decrement_list([1,2,3])

[0, 1, 2]

In [7]:
#Filter

l = [1,2,3,4]

evens= list(filter(lambda x:x%2 ==0,l))
evens

[2, 4]

In [8]:
name_5= list(filter(lambda a:len(a)<6,names))
name_5

[{'first': 'Russty', 'last': 'Steele'},
 {'first': 'Colt', 'last': 'Steele'},
 {'first': 'Blue', 'last': 'Steele'}]

In [9]:
names

[{'first': 'Russty', 'last': 'Steele'},
 {'first': 'Colt', 'last': 'Steele'},
 {'first': 'Blue', 'last': 'Steele'}]

In [10]:
def remove_negatives(a):
    return list(filter(lambda r: r>-1, a))

In [11]:
#ALL  - if all are true only then returns True 
nums = [2,53,23,13,43]
all([num%2 ==0 for num in nums])

False

In [12]:
#any - if any situation is true then it will return true

any([num%2==0 for num in nums])

True

In [13]:
people = ['Charlie','Casey','Cody','Carly','Cristina']

In [14]:
any(num %2==0 for num in nums)

True

In [15]:
all(name[0]=='C' for name in people)

True