In [1]:
#1. Given 2 strings, s1 and s2 returns a new string made of the first, middle and last char earh input string

s1  = "America"
s2 = "Japan"
output= s1[0]+s2[0] + s1[(len(s1)//2)] + s2[(len(s2)//2)] + s1[-1]+s2[-1]
print(output)

AJrpan

In [2]:
# 2. Arrange string characters such that lowercase letters should come first

str1 = "PyThon"
upper = []
lower = []
for i in str1:
    if i.islower():
        lower.append(i)
    elif i.isupper():
        upper.append(i)
output = "".join(lower + upper)
print(output)

yhonPT

In [3]:
# 3. Count all lower case, upper case , digits and special symbols from a given string.

str1 = "P@#ya26ct^&i5ve"
Chars = 0 
Digits = 0
Symbol = 0

for i in str1:
    if i.isalpha():
        Chars +=1
    elif i.isnumeric():
        Digits +=1
    else:
        Symbol +=1
        
print(f"Total counts of chars, digits, and symbols\n \n \n Chars = {Chars}\nDigits = {Digits}\nSymbol = {Symbol}")

Total counts of chars, digits, and symbols


 Chars = 8
Digits = 3
Symbol = 4

In [4]:
# 4. Given two strings s1, and s2, create a mixed String

s1 = "Abc"
s2 = "Xyz"
for i in range(3):
    output = s1[i] + s2[3-i-1]
    print(output,end="")

AzbycX

In [5]:
 # 5.Find all occurrences of "INDIA" in given string ignoring the case:

str1 = "Welcome to INDIA. india awesome, isn''t it?"

count = str1.lower().count('india')

print(f"The INDIA count is : {count}")

The INDIA count is : 2

In [6]:
# 6: Given a two list. Create a third list by picking an odd-index element form the first llist and even index elements form second.

listOne = [3, 6, 9, 12, 15, 18, 21]
listTwo = [4, 8, 12, 16, 20, 24, 28]

first_list = []
second_list = []

for i in range(0, len(listOne),2):
    second_list.append(listTwo[i])
for i in range(1,len(listOne),2):
    first_list.append(listOne[i])

thrid = first_list + second_list
print("Element at odd-index positions form list one")
print(first_list)
print("Element at even-index positions from list two")
print(second_list)
print("Printing Final third list")
print(thrid)

Element at odd-index positions form list one
[6, 12, 18]
Element at even-index positions from list two
[4, 12, 20, 28]
Printing Final third list
[6, 12, 18, 4, 12, 20, 28]

In [7]:
# 7. Add item 7000 after 6000 in the following Pthon List

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [8]:
# 8. Given a nested list extend it with adding sub list ["h","i","j"] in a such a way that it will look like the following list.

list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

# output should be:['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']
for i in ['h', 'i', 'j']:
    list1[2][1][2].append(i)
     
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [9]:
# 9. Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value

list1 = [5, 10, 15, 20, 25, 50, 20]

index = list1.index(20)
list1[index] = 200
print(list1)

[5, 10, 15, 200, 25, 50, 20]

In [10]:
# 10. Given a Python list, remove all occurrence of 20 from the list

list1 = [5, 20, 15, 20, 25, 50, 20]

[i for i in list1 if i!=20]

[5, 15, 25, 50]

In [11]:
# 11. Unpack the following tuple into 4 variables
aTuple = (10, 20, 30, 40)
a= aTuple[0]
b = aTuple[1]
c = aTuple[2]
d = aTuple[3]
print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [12]:
# 12. Swap the following two tuples
tuple1 = (11, 22)
tuple2 = (99, 88)
tuple1, tuple2 = tuple2, tuple1
print(tuple1)
print(tuple2)

(99, 88)
(11, 22)

In [13]:
# 13. Count the number of occurrences of item 50 from a tuple
tuple1 = (50, 10, 60, 70, 50)
tuple1.count(50)

2

In [14]:
# 14. Check if all items in the following tuple are the same 
tuple1 = (45, 45, 45, 45)
count = 1
for i in tuple1:
    if i != 45:
        count = 0
if count ==1:
    print(True)
else:
    print(False)

True

In [15]:
#  15. Access value 20 from the following tuple
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))
aTuple[1][1]

20