### Dictionary

1. Merage following two Python dictionaries into one.

dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}

dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [12]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}

dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dic3 = {}
for i,j in dict1.items():
    if not i in dic3:
        dic3[i]= j
        
for i,j in dict2.items():
    if not i in dic3:
        dic3[i]= j

dic3

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

TypeError: 'dict' object is not callable

In [22]:
#2.  Acess the value of key 'history'

sampleDict = {
    "class":{
        "student":{
            "name":"MIke",
            "marks":{
                "physics": 70,
                "history": 80
            }
        }
    }
}

sampleDict['class']['student']['marks']['history']

80

In [39]:
# 3. Create a new dictionary by extracting the following keys from a given dicitonary.

sampleDict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New York"

}

keys = ["name","salary"]
new = {}
for k,v in sampleDict.items():
    if k in keys:
        new[k] = v
        
new

{'name': 'Kelly', 'salary': 8000}

In [45]:
# 4. Check if a value 200 exists in a dictionary

sampleDict = {'a':100,'b':200, 'c':300}

200 in sampleDict.values()

True

In [54]:
# 5. Get the keys corresponding to the mininmum values from the following dictionary.

sampleDict = {
    'Physics': 82,
    'Math': 65,
    'History': 75
}

l = list(sampleDict.values())
minimum = min(l)

for k,v in sampleDict.items():
    if v == minimum:
        print(k)

Math

In [56]:
# 6. Given a Python dictionary, Change Brad's salary to 8500

sampleDict = {
    'emp1': {'name': 'Jhon', 'salary':7500},
    'emp2': {'name': 'Emma', 'salary':8000},
    'emp3': {'name': 'Brad', 'salary':6500}
}

sampleDict['emp3']['salary'] = 8500

sampleDict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

### Sets

In [64]:
#7. Add a list of elements to a given set.

s1 = {"Yellow", "Orange","Black"}
l2 = ["Blue","Green","Red"]

s2 = set(l2)
s2.union(s1)

{'Black', 'Blue', 'Green', 'Orange', 'Red', 'Yellow'}

In [84]:
#8. Given two Python sets, update first set with items that exist only inthe first set and not in the second set.

set1 = {10, 20, 30}

set2 = {20,40,50}

common = set1 & set2

set1.difference_update(common)
set1

{10, 30}

In [97]:
# 9. Remove 10,20,30 elements from a following set at once
set1 = {10, 20, 30, 40, 50}

set1.remove(10)
set1.remove(20)
set1.remove(30)
print(set1)



set2 = {10, 20, 30, 40, 50}
set3 = {30, 40, 50, 60, 70}

common = set2 & set3
combined = set2 | set3
combined.difference_update(common)
print(combined)

{40, 50}
{70, 10, 20, 60}

In [100]:
# 10. Determines whether or not the following two sets have any elements in common. If yes display the common elements.

set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

print(f"Two sets have itmes in common {set1 & set2}")

Two sets have itmes in common {10}

###  Functions

In [110]:
# 11. Write a function func1() such that it can accept a variable length of argument and print all arguments value

def func1(*args):
    for i in args:
        print(i)

func1(80, 100)

80
100

In [115]:
# 12. Write a function calculation() such that it can accept two variables and calculate the addition and subtraction of it. And also it must return both addition and subtraction in a single return call.

def calculation(a, b):
    return (" A res should produce result",a+b , a-b)

res = calculation(40, 10)
print(res)

(' A res should produce result', 50, 30)

In [118]:
# 13 Create a function `showEmployee()` in such a way that it should accept employee name, and it's salary and display both, and if the salary is missing in function call it should show it as 9000.

def showEmployee(name,salary=9000):
    return f"Employee {name} salary is: {salary}"

showEmployee("Ben", 9000)

'Employee Ben salary is: 9000'

In [127]:
# 14. Create an inner function to calculate the additon in the following way.

"""
Create an outer function that will accept two parameters a and b
• Create an inner function inside an outer function that will calculate the addition
of a and b

• At last, an outer function will add 5 into addition and return it
"""

def outer(a,b):
    def addition():
        return a+b
        
               
    return addition() + 5

outer(5,6)

16

In [130]:
# 15. Write a reucrsive function to calculate the sum of numbers from 0 to 10.
def recursive(x):
    a = 0
    for i in range(x+1):
        a +=i
    return a
        
        
        
recursive(10)

55