In [1]:
# Give a number, Find the next 5 Prime numbers

print("Enter a number :  ")
x = int(input())
print("The next 5 Prime numbers are: ")
new = x+1
total_prime = 0
while total_prime<5:
    for i in range(2,new//2):
        if new % i==0:
            new +=1
            break
    else:
        print(new,end=' ')
        total_prime+=1
        new+=1

Enter a number :
500
The next 5 Prime numbers are:
503 509 521 523 541

In [3]:
# For a range of input numbers from start to end print the prime numbers

start = int(input("Enter the starting number: "))
last = int(input("Enter the last number"))

for s in range(start,last+1):
    for l in range(2,s//2):
        if s%l ==0:
            break
    else:
        print(s)

Enter the starting number: 550
Enter the last number600
557
563
569
571
577
587
593
599

In [4]:
# 1. Print First 10 natural numbers using while loop

i = 0
while i <= 10:
    print(i)
    i+=1

0
1
2
3
4
5
6
7
8
9
10

In [5]:
#  Method 1
# 2.Print the following pattern
a = ''
for i in range(1,6):
    x = str(i)
    a = a + " "+ x
    print(a)

 1
 1 2
 1 2 3
 1 2 3 4
 1 2 3 4 5

In [6]:
# 2. Method 2

for i in range(1,6):
    for x in range(1,i+1):
        print(x,end=" ")
    print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [7]:
# 3. Accept number from user and calculate the sum of all number between 1 and given number.

print("Give a number")
num = int(input())
x = 0
for i in range(num+1):
    x+=i

print(f"The sum of first {num} is : {x}")

Give a number
5
The sum of first 5 is : 15

In [8]:
# 4. Print multiplication table of given number

num = int(input())
print(f"Table of {num}")
for i in range(1,11):    
    print(i*num)

5
Table of 5
5
10
15
20
25
30
35
40
45
50

In [9]:
# 5. Print the following pattern using for loop
"""(Method 1)"""

for i in range(1,6):
    n = 6-i
    for x in range(n):
        result = n-x
        print(result,end=" ")
    print('')

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [10]:
"""(Method 2)"""

for a in range(5,0,-1):
    for b in range(a,0,-1):
        print(b,end=" ")
    print("")

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [11]:
# 6. Display -10 to -1 using FOR loop:

for i in range(10):
    x = i - 10
    print(x)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [12]:
# 7. Fibonacci series up to 10 terms

print('Fibonacci Sequence:')

a = 0
b = 1
print(a,b,end=" ")
for i in range(8):
    c = a + b
    print(c,end=" ")
    a = b
    b = c

Fibonacci Sequence:
0 1 1 2 3 5 8 13 21 34

In [13]:
# 8. Write a loop to find the factorial of any number

fac = 1
for i in range(1,6):
    fac = fac * i
print(fac)

120

In [14]:
# 9. Display the cube of the number up to given integer

input_number = 6

for cube in range(1,input_number+1):
    print(f"Current Number is : {cube} and the cube is {cube**3}")

Current Number is : 1 and the cube is 1
Current Number is : 2 and the cube is 8
Current Number is : 3 and the cube is 27
Current Number is : 4 and the cube is 64
Current Number is : 5 and the cube is 125
Current Number is : 6 and the cube is 216

In [15]:
# 10. Find the sum of the series 2 + 22 + 222 + 2222 + .....n

number_of_terms = 5
two = 2
total = 0
for i in range(1,number_of_terms+1):
    two = two + 2*10**i
    total = two + total
print(total)

246910

In [16]:
# 11. Print the following pattern

for i in range(1,6):
    print("*"*i)
    
for n in range(4,0,-1):
    print("*"*n)

*
**
***
****
*****
****
***
**
*

In [17]:
# 12. Calculate income tax for the given income by adhering to the below rules
i = 45000
first = 10000
second = i - 10000
third = i - 20000
if i>10000:
    if i <= 20000:
        tax = (i-10000)*0.10
        print(f"Income tax on {i} is : {tax}")
    else:
        tax = third*0.20 + (i-(third+10000))*0.10
        print(f"Income tax on ${i} is : ${tax}")
        
else:
    print(f"Income tax on ${i} is : $0")

Income tax on $45000 is : $6000.0

In [18]:
# 13. Print multiplication table from 1 to 10.

for t in range(1,11):
    for m in range(1,11):
        print(m*t,end=" ")
    print("")

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [19]:
# 14. Print downward Half-Pyramid Pattern with Star (asterisk)
for i in range(5,0,-1):
    print("*"*i)

*****
****
***
**
*

In [20]:
# 15. Print the following pattern

for i in range(1,6):
    for x in range(i):
        print(i,end=" ")
    print("")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5